
<script type="text/javascript" src="{{base_url}}/gWidgetsWWW2/javascript/ext-4-2.1/ext-all.js"></script>

<script type="text/javascript" src="{{base_url}}/gWidgetsWWW2/javascript/gw-gtable.js"></script>
<script type="text/javascript" src="{{base_url}}/gWidgetsWWW2/javascript/ext.ux.example.js"></script>
<script type="text/javascript" src="{{base_url}}/gWidgetsWWW2/javascript/ext.ux.CheckColumn.js"></script>
<script type="text/javascript" src="{{base_url}}/gWidgetsWWW2/javascript/ext.ux.CustomSpinner.js"></script>

<script type="text/javascript" src="{{base_url}}/gWidgetsWWW2/javascript/GMapPanel3.js"></script>

<script type="text/javascript" src="{{base_url}}/gWidgetsWWW2/javascript/ext.ux.CodeMirror.js"></script>
<script type="text/javascript" src="{{base_url}}/gWidgetsWWW2/javascript/CodeMirror/codemirror.js"></script>
<script type="text/javascript" src="{{base_url}}/gWidgetsWWW2/javascript/CodeMirror/formatting.js"></script>
<script type="text/javascript" src="{{base_url}}/gWidgetsWWW2/javascript/CodeMirror/foldcode.js"></script>
<script type="text/javascript" src="{{base_url}}/gWidgetsWWW2/javascript/CodeMirror/r.js"></script>
<script type="text/javascript" src="{{base_url}}/gWidgetsWWW2/javascript/CodeMirror/emacs.js"></script>


