<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>

 <%= brew(system.file("framework", "brew", "load_css.rhtml", package="gWidgetsWWW2")) %>
    
  <script type='text/javascript'
  src='/custom/gWidgetsWWW2/javascript/jquery-1.7.1.min.js'></script>

  
  <script type='text/javascript'>
var MyApp = "<%= app_name %>";
var app_url = "/custom/" + MyApp + "/gwapp/";
 <%= brew(system.file("framework", "brew", "load_AJAX.rhtml", package="gWidgetsWWW2")) %>

$(document).ready(function() {
  Ext.QuickTips.init();
  $("#loading").hide();
  $.ajax(base_url + "newSessionId", {
    dataType: 'json',
    cache: false,
    success: function(data) {
      session_id = data.id;
      $("#load_app").innerHTML="Loading app... ";
      createGUI(app_url)
    }
  })
});
  </script>
</head>
<body>
 <div id='loading'>
    <div class='loading-indicator'>
    <span id='loading-msg'>Loading ExtJS...</span>
    </div>
  </div>
  <div id='load_app'></div>
 <%= brew(system.file("framework", "brew", "load_js.rhtml", package="gWidgetsWWW2")) %>

  <%= extra_html_code %>
  <%= if(file.exists(brew_template)) brew(brew_template) %>

</body>
