.td-northwest {vertical-align: top;    horizontal-align: left;  text-align: left  }
.td-north     {vertical-align: top;                                               }
.td-northeast {vertical-align: top;    horizontal-align: right; text-align: right }
.td-west      {                        horizontal-align: left;  text-align: left  }
.td-center    {                                                                   }
.td-east      {                        horizontal-align: right; text-align: right }
.td-southwest {vertical-align: bottom; horizontal-align: left;  text-align: left  }
.td-south     {vertical-align: bottom;                                            }
.td-southeast {vertical-align: bottom; horizontal-align: right; text-align: right }

.x-form-file-wrap {
position: relative;
height: 22px;
}
.x-form-file-wrap .x-form-file {
position: absolute;
right: 0;
-moz-opacity: 0;
filter:alpha(opacity: 0);
opacity: 0;
z-index: 2;
height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
position: absolute;
right: 0;
z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
position: absolute;
left: 0;
z-index: 3;
color: #777;
}